<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="{{ `images/glucose.png` | relURL }}" alt="Glucose Trend Graph" class="img-fluid mb-3" style="max-height: 160px;">
        <h2 class="h2">Glucose Trend Graph <small class="d-none">🛡️</small></h2>
        <p>Get a beautiful, interactive line graph that shows your glucose levels across the past 24 hours. Spot trends, track patterns, and make data-driven decisions about your health.        </p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `images/alert.png` | relURL }}" alt="Glucose Trend Graph" class="img-fluid mb-3" style="max-height: 160px;">
        <h2 class="h2">Smart Alerts <small class="d-none">🚀</small></h2>
        <p>Instantly know when your glucose is outside your safe range. Receive personalized, non-intrusive alerts that help you take action before it becomes serious.</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `images/dashboard.png` | relURL }}" alt="Glucose Trend Graph" class="img-fluid mb-3" style="max-height: 160px;">
        <h2 class="h2">Personalized Insights <small class="d-none">📈</small></h2>
        <p>GlucoTrackr learns your patterns and provides weekly summaries and suggestions to help improve glucose stability based on your lifestyle and routines.        </p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Nighttime Low Detection <small class="d-none">🦉</small></h2>
        <p>Sleep with peace of mind. GlucoTrackr automatically monitors nighttime data to detect hypoglycemia and helps prevent dangerous overnight lows.        </p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">PDF Export for Doctors <small class="d-none">✨</small></h2>
        <p>With one click, generate a professional PDF report of your glucose trends. Easily share it with your doctor for your next appointment or ongoing care.        </p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Caregiver Dashboard Access<small class="d-none">🧰</small></h2>
        <p>Invite trusted caregivers or family members to view your dashboard. Give them peace of mind with read-only access to real-time health data.        </p>
    </div>
</div>
